---
import Layout from "../../layouts/layout.astro"

const siteTitle = "shivam's blog"
const description = "serious dumps."

---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://utfs.io/f/38t7p527clgqIjzbNkaMNspr61keuaXCISjAEZnKvgWcqFUx" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@shivamhwp" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://utfs.io/f/38t7p527clgqIjzbNkaMNspr61keuaXCISjAEZnKvgWcqFUx" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="##1C1C1C" />
</head>



<Layout>
<div class="pt-14 p-1 flex text-xl">soon</div>

</Layout>