---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import { PostItem } from "../../components/ui/PostItem";
import Layout from "../../layouts/layout.astro";

const allPosts = await getCollection("posts");

const sortedPosts = allPosts.sort((a, b) =>
  a.data.published > b.data.published ? -1 : 1
);
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content="writings" />
  <meta property="twitter:title" content=" shivam " />
  <meta
    name="twitter:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content="writings" />
  <meta property="og:description" content="writings" />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta
    property="og:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <title>writings</title>
</head>

<Layout>
  <div class="w-full space-y-4 sm:space-y-6">
    {
      sortedPosts.map((post) => (
        <PostItem
          client:load
          href={`/writings/posts/${post.slug}`}
          title={post.data.title}
          date={dayjs(post.data.published).format("MMM D, YYYY")}
        />
      ))
    }
  </div>
</Layout>
