---
/* eslint-disable @typescript-eslint/no-unused-vars */
import { getCollection } from "astro:content";
import WritingsTabs from "../../components/tabs";
import Layout from "../../layouts/layout.astro";

const allPosts = await getCollection("posts");

const sortedPosts = allPosts.sort((a, b) =>
  a.data.published > b.data.published ? -1 : 1
);

// Group posts by published year
const postsByYear = sortedPosts.reduce(
  (acc, post) => {
    const year = new Date(post.data.published).getFullYear().toString();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(post);
    return acc;
  },
  {} as Record<string, typeof sortedPosts>
);
---

<Layout>
  {Object.keys(postsByYear).sort((a, b) => Number(b) - Number(a)).map((year) => (
    <section>
      <div class="flex items-center gap-3 my-3">
        <div class="text-sm text-muted-foreground">{year}</div>
        <div class="h-px bg-border w-full"></div>
      </div>
      <WritingsTabs client:only="react" posts={postsByYear[year]} />
    </section>
  ))}
</Layout>
