---
import Layout from "../layouts/layout.astro";


---

<Layout>
    <div class="h-full w-full  items-center justify-center flex">
        <div>
            wtf is going on here?
        </div>
    </div>
</Layout>