---
import Layout from "../layouts/layout.astro";

---


<Layout title="cinema">
    <div class="text-8xl text-white text-opacity-60  px-4 ">
        <div class="gap-6 text-xl   ">
          <ul class="border-dashed border-gray-600 border p-4">
            <li>Attack On Titan</li>
            <li>Fullmetal Alchemist:Brotherhood</li>
            <li>Kengen Ashura</li>
            <li>Demon Slayer(Kimetsu no yaiba)</li>
            <li>Se7en</li>
            <li>Fight Club</li>
            <li>Oppenheimer</li>
            <li>Mr Robot</li>
            <li>The Prestige</li>
            <li>Whiplash</li>
          </ul>
  
          <ul class="pt-8">
          <div class="border-dashed border-gray-600  border p-4">
            <li class=" hover:opacity-80 ">
              <a
                href="https://www.youtube.com/watch?v=D3ovuBdbUqk"
                target="_blank"
              >
                Mia and Sebestian&apos;s Theme{" "}
              </a>
            </li>
            <li class=" hover:opacity-80 ">
              <a
                href="https://www.youtube.com/watch?v=5OIeIaAhQOg"
                target="_blank"
              >
                Idea 10
              </a>
            </li>
            <li class=" hover:opacity-80">
              <a
                href="https://www.youtube.com/watch?v=0pux7a1y8xo"
                target="_blank"
              >
                3.0_1-one2blame.fyc
              </a>
            </li>
            <li class=" hover:opacity-80">
              <a
                href="https://www.youtube.com/watch?v=dygUU9itPXw"
                target="_blank"
              >
                An Ordinary Day
              </a>
            </li>
            <li class=" hover:opacity-80">
              <a href="https://youtu.be/vy63u2hKoPE" target="_blank">
                YouSeeBIGGIRL/T:T
              </a>
            </li>
            <li>
              <a
                class="hover:opacity-80  hover:cursor-pointer"
                href="https://www.youtube.com/watch?v=G6kSqPpSz1g"
                target="_blank"
              >
                Requiem for the Brigadier General{" "}
              </a>
            </li>
            </div>
          </ul>
        </div>
      </div>
  
</Layout>