---
import Layout from "../layouts/layout.astro";
import {socials} from "../data";
---

<Layout	title="main">

	<div class="px-4 ">
	<div class="xl:text-6xl 2xl:text-7xl lg:text-5xl text-5xl font-bold  flex justify-between pt-16 ">
		shivam
	</div>
	<a  href="/cinema" class="flex flex-col text-5xl text-white  font-semibold text-opacity-60 hover:text-opacity-100 fixed bottom-8 left-8 max-sm:text-4xl   lg:pt-6 xl:pt-2 2xl:pt-2  ">🎥</a>
		<div class="flex flex-col fixed bottom-8 right-8 max-sm:text-3xl  h-auto w-auto  p-1 lg:pt-6 xl:pt-2 2xl:pt-2 gap-2">
		  {socials?.map((x) => (
			  <a
				href={x?.link}
				target="_blank"
				class=" hover:text-opacity-60 max-sm:underline font-semibold text-white  2xl:text-5xl xl:text-5xl lg:text-lg text-3xl"
			  >{x.title}</a>
		  ))}
		</div>
	  </div>
</Layout>