---
import { socials } from "../data";
import Layout from "../layouts/layout.astro";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={"an ipv4 address"} />
  <meta property="twitter:title" content=" shivam " />
  <meta
    name="twitter:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={"shivam"} />
  <meta property="og:description" content={"an ipv4 address"} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta
    property="og:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <title>{"shivam"}</title>
</head>

<Layout title="shivam">
  <div class="gap-2 px-3">
    <section class="transition gap-2 duration-500">
      <div>hi, shivam here.</div>
    </section>
    <div>
      prev <a
        target="_blank"
        href="https://supermemory.ai/"
        class="text-accent-foreground/85 rounded-xs underline underline-offset-2 decoration-0"
        >supermemory,</a
      >
      currently <a
        target="_blank"
        href="https://github.com/shivamhwp/agentsonweb"
        class="text-accent-foreground/85 rounded-xs underline underline-offset-2 decoration-0"
        >agentsonweb.com</a
      >.
    </div>
    <div>
      prev projects:
      {
        ["git-acm", "isup", "0bs.chat"].map((project, index, array) => (
          <>
            <a
              class="text-accent-foreground/85 rounded-xs underline underline-offset-2 decoration-0"
              target="_blank"
              rel="noopener noreferrer"
              href={`https://github.com/shivamhwp/${project}`}
            >
              {project}
            </a>
            {/* Conditionally render comma and space if it's not the last item */}
            {index < array.length - 1 && ", "}
          </>
        ))
      }

      <div class="flex gap-2">
        on the internet :
        {
          socials.map((social) => (
            <a
              class="text-accent-foreground/85 rounded-xs underline underline-offset-2 decoration-0"
              href={social.link}
            >
              {social.title}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
