---
import { getCollection } from "astro:content";
import { BellSimpleRingingIcon } from "@phosphor-icons/react";
import { Socials } from "../components/ui/socials";
import UpdatesMarkdown from "../content/updates.md";
import { code_projects, movies, songs } from "../data";
import Layout from "../layouts/layout.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort((a, b) =>
  a.data.published > b.data.published ? -1 : 1
);
const recentPosts = sortedPosts.slice(0, 6);
const featuredMovies = movies.slice(0, 6);
const featuredSongs = songs.slice(0, 8);
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={"an ipv4 address"} />
  <meta property="twitter:title" content=" shivam " />
  <meta
    name="twitter:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={"shivam"} />
  <meta property="og:description" content={"an ipv4 address"} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta
    property="og:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <title>{"shivam"}</title>
</head>

<Layout title="shivam">
  <div class="gap-4 flex flex-col">
    <!-- Hero Section -->
    <section class="space-y-2">
      <h1 class="font-semibold text-2xl">shivam.</h1>
      <p class="text-muted-foreground text-lg">
        prev <a
          href="https://supermemory.ai/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-foreground font-mono">supermemory</a
        >, currently <a
          href="https://github.com/shivamhwp/agentsonweb"
          target="_blank"
          rel="noopener noreferrer"
          class="text-foreground">agentsonweb.com</a
        >.
      </p>
    </section>
    <hr class="h-px bg-muted-foreground/20" />

    <section class="gap-4 flex flex-col">
      <h2 class="font-semibold text-xl flex items-center gap-2">updates</h2>

      <div
        class="text-foreground/60 max-w-[65ch] [&_ul]:mb-6 [&_ul]:pl-6 [&_ul]:space-y-2 [&_li]:mb-2 [&_li]:leading-[1.75] [&_a]:text-foreground [&_a]:no-underline [&_a]:transition-all [&_a:hover]:opacity-80"
      >
        <UpdatesMarkdown />
      </div>
    </section>

    <!-- <section>
      <div
        class="flex flex-col sm:flex-row items-start sm:items-center gap-4 sm:gap-6"
      >
        <span class="text-muted-foreground font-semibold text-2xl"
          >on the internet</span
        >
      </div>
    </section> -->
  </div>
</Layout>
