---
import Layout from "../layouts/layout.astro";

const siteTitle = "labs";	
const description = "labs";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content=" shivam " />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{siteTitle}</title>
</head>

<Layout>
	<div class="text-white/60 space-y-4">

	<ul>
	<li class="text-lg">working on <a href="https://github.com/mantrakp04/0bs/" target="_blank" class="text-white/90 hover:text-white/60 transition duration-500">zerobs</a> with <a href="https://x.com/barre_of_lube" target="_blank" class="text-white/90 hover:text-white/60 transition duration-500">mantra</a>.
	</li>
	</div>
	</div>
</Layout>
