---
import Layout from "../layouts/layout.astro";

const siteTitle = "services";
const description = "can help you with these";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="twitter:title" content="services" />
  <meta name="twitter:image" content="https://shivam.ing/images/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing" />
  <meta property="og:image" content="https://shivam.ing/images/og-image.png" />
  <title>{siteTitle}</title>
</head>

<Layout>
  <div class="text-xl flex flex-col gap-2">
    <a target="_blank"> open to swe roles. </a>
    <div>
      work together on a project ? <a
        target="_blank"
        href="https://x.com/shivamhwp/"
        class="hover:cursor-pointer
        underline
        hover:text-white
        hover:text-opacity-95
        decoration-green-700
        hover:decoration-green-400
        underline-offset-4
        decoration-wavy
        transition
        duration-500"
        >dm me on socials !</a
      >
    </div>
  </div>
  <div></div>
</Layout>
