---
import Layout from "../layouts/layout.astro";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="work" />
  <meta property="twitter:title" content="work" />
  <meta
    name="twitter:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@shivamhwp" />
  <meta property="og:title" content="work" />
  <meta property="og:description" content="work" />
  <meta property="og:site_name" content="shivam.ing" />
  <meta property="og:url" content="https://www.shivam.ing/work" />
  <meta
    property="og:image"
    content="https://shivam.ing/images/opengraph-image.png"
  />
  <title>want to work ?</title>
</head>

<Layout>
  <section class="space-y-3 sm:space-y-4">
    <a
      href="/"
      class="inline-flex text-muted-foreground hover:text-foreground transition-colors no-underline"
    >
      back
    </a>

    <div class="space-y-3">
      <p class="text-foreground/50">i do.</p>
      <ul class="list-disc space-y-1 pl-5 text-foreground/50">
        <li>content research.</li>
        <li>eng.</li>
      </ul>
      <p>
        email <span class="text-primary font-normal">work@shivam.ing</span>
      </p>
    </div>
  </section>
</Layout>
