---
import Layout from "../layouts/layout.astro";


---
<Layout title="work">
    <div class="px-4 gap-4 flex flex-col ">
        <div class="border border-dashed border-gray-600  flex flex-col p-4 gap-2">
                <span class="font-bold text-xl"> project-basis</span>   
                    <div>
                    starts at <b>$420.69</b> per project, might do it for free if i find it interesting.
                    </div>

        </div>
        <div class="border border-dashed border-gray-600 p-4 gap-2 flex flex-col ">
                    <span class="font-bold text-xl">full-time</span>
                    <div>available for full-stack, frontend and backend roles.</div>
        </div>
    </div>
</Layout>   