---
import Layout from "../../layouts/layout.astro";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(relativeTime);

const allPosts = await getCollection("posts");

const sortedPosts = allPosts.sort((a, b) => {
  if (a.data.published > b.data.published) {
    return -1;
  } else {
    return 1;
  }
});
---

<Layout>
    <div class="flex flex-col w-full gap-2">
        {
          sortedPosts.map((post) => (
            <div class="flex items-center justify-between">
              <a
                href={`blogs/posts/${post.slug}`}
                class=" hover:white text-xl transition duration-500  "
              >
                {post.data.title}
              </a>
              <div class="font-light  text-lg">
                {dayjs(post.data.published).format("MMMM D, YYYY")}
              </div>
            </div>
          ))
        }
      </div>
</Layout>
