---
const { title } = Astro.props;

const path = Astro.url.pathname

---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="shivam.ing">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>
  </head>
  <body class=" bg-black selection:text-black md:pl-24 lg:pl-56 xl:pl-56 2xl:pl-96 max-sm:pl-4 min-h-screen w-screen flex-col text-white">
<slot />
  </body>
</html>