---
import '@fontsource-variable/inter-tight';
import { ClientRouter } from "astro:transitions";
import { ModeToggle } from "../components/mode-toggle";
import { TopNav } from "../components/ui/topnav";
import "../styles/global.css";

const pathname = Astro.url.pathname;
---

<html lang="en" class="font-mono">
  <head>
    <script is:inline>
      const getThemePreference = () => {
        const saved = localStorage.getItem('theme');
        if (saved) return saved;
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      };
      const isDark = getThemePreference() === 'dark';
      document.documentElement.classList.toggle('dark', isDark);
    </script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="50047cd7-0f24-4458-900a-a1c99a60782e"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content="an ipv4 address" />
    <meta property="twitter:title" content=" shivam " />
    <meta
      name="twitter:image"
      content="https://shivam.ing/images/opengraph-image.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@shivamhwp" />
    <meta property="og:title" content="shivam" />
    <meta property="og:description" content="an ipv4 address" />
    <meta property="og:site_name" content="shivam.ing" />
    <meta property="og:url" content="https://www.shivam.ing" />
    <meta
      property="og:image"
      content="https://shivam.ing/images/opengraph-image.png"
    />
    <title>shivam</title>
    <ClientRouter />

  </head>

  <body
    class="bg-background text-muted-foreground min-h-screen w-full overflow-x-hidden ">
    <div class="mx-auto max-w-2xl px-4 gap-4 pt-6 max-sm:pt-3 pb-10 flex flex-col min-h-screen">
      <div class="flex gap-0.5 items-center ">
        <TopNav pathname={pathname}/>
        <ModeToggle client:load/>
      </div>
      <main class="flex-grow">
        <slot />
      </main>
    </div>
  </body>
</html>
