---
import { TopNav } from "../topnav";

const { title } = Astro.props;

const path = Astro.url.pathname;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="shivam.ing" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>

    <body
        class="bg-white pt-6 md:pt-12 lg:pt-12 text-opacity-80 xl:pt-12 2xl:pt-12 max-sm:px-4 md:px-24 lg:px-64 xl:px-96 2xl:px-96 h-screen w-screen flex-col  text-black"
    >
        <TopNav pathname={path} />
        <slot />
    </body>
</html>
