---
import { ClientRouter } from "astro:transitions";
import { ModeToggle } from "../components/ui/ModeToggle";
import { VerticalNav } from "../components/ui/VerticalNav";
import NavigationTimer from "../components/NavigationTimer.astro";
import "../styles/global.css";

const pathname = Astro.url.pathname;
---

<html lang="en">
  <head>
    <ClientRouter />
    <script
      is:inline
      src="https://cloud.umami.is/script.js"
      data-website-id="50047cd7-0f24-4458-900a-a1c99a60782e"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script is:inline>
      (function () {
        const stored = localStorage.getItem("theme");
        const isDark =
          stored === "dark" ||
          (!stored &&
            window.matchMedia("(prefers-color-scheme: dark)").matches);
        if (isDark) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content="an ipv4 address" />
    <meta property="twitter:title" content=" shivam " />
    <meta
      name="twitter:image"
      content="https://shivam.ing/images/opengraph-image.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@shivamhwp" />
    <meta property="og:title" content="shivam" />
    <meta property="og:description" content="an ipv4 address" />
    <meta property="og:site_name" content="shivam.ing" />
    <meta property="og:url" content="https://www.shivam.ing" />
    <meta
      property="og:image"
      content="https://shivam.ing/images/opengraph-image.png"
    />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <title>shivam</title>
  </head>

  <body
    class="bg-background text-foreground/75 text-sm h-screen w-full antialiased overflow-hidden"
  >
    <div class="h-screen w-full overflow-hidden flex font-mono flex-col">
      <header class="w-full md:mt-[14vh]">
        <div class="max-w-2xl mx-auto px-3 sm:px-4 md:px-6 ">
          <VerticalNav pathname={pathname} client:load />
        </div>
      </header>
      <main class="w-full flex-1 min-h-0 overflow-hidden">
        <div
          class="max-w-2xl mx-auto h-full overflow-y-auto px-3 sm:px-4 md:px-6 py-6 sm:py-8 md:py-10"
        >
          <slot />
        </div>
      </main>
    </div>
    <NavigationTimer />
    <ModeToggle client:load />
  </body>
</html>
