---
const { title } = Astro.props;

const path = Astro.url.pathname;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="shivam.ing" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body
        class="bg-[#EEEEE7] selection:text-[#eeeee7] selection:bg-black md:px-24 lg:px-36 xl:px-36 2xl:px-36 h-screen w-screen flex-col px-2 text-black"
    >
        <slot />
    </body>
</html>
