---
import { TopNav } from "../topnav";

const { title } = Astro.props;

const path = Astro.url.pathname;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="shivam.ing" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body
        class="bg-black pt-6 md:pt-12 text-opacity-80 lg:pt-12 xl:pt-12 2xl:pt-12 md:px-48  lg:px-64 xl:px-96 2xl:px-96 h-screen w-screen flex-col px-4 text-white"
    >
    <TopNav client:only/>    
    <slot />
    </body>
</html>
